/* Universal Stylesheet */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,800;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

::-webkit-scrollbar {
  width: 5px;
  transition: width 1s linear; 
}

::-webkit-scrollbar:hover {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 0 0 5px rgba(128, 128, 128, 0);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

body, .myBody {
  background-color: #000000; /* Change background color to black */
  color: #ffffff; /* Change the default text color to white */
  font-family: 'Barlow Semi Condensed', sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

a, .myA {
  color: #007bff; /* Change link color to dark blue */
  text-decoration: none !important;
}

a:hover, .myA:hover {
  color: #0056b3; /* Darker blue on hover */
  text-decoration: underline !important; /* Adding underline on hover for better accessibility */
}

a:visited, .myA:visited {
  color: #0056b3; /* Slightly darker blue for visited links */
}

nav {
  text-align: center;
  margin: 30px 0 0 0;
}

nav a, nav .myA {
  padding: 0 20px 0 20px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.socials i {
  margin: 10px 5px 10px 5px;
  font-size: 30px;
  color: #007bff; /* Change social icon colors to dark blue */
}

.socials i:hover {
  cursor: pointer;
  color: #0056b3; /* Darker blue on hover for social icons */
}

#copyright {
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin: 10px 0 40px 0;
  font-size: 1em !important;
}
